<div *ngFor="let item of allproducts" class="item-style">
  <div class="card" style="width: 18rem">
    <img
      class="card-img-top"
      src="{{ '../../../../assets/images/allProducts/' + item.imageUrl }}"
      alt="Card image cap"
    />
    <div class="card-body">
      <h5 class="card-title">{{ item.productName }}</h5>
      <b class="card-text">Price : {{ item.price }}</b
      ><br />
      <button class="btn btn-primary" (click)="addtocart(item)">
        Add to cart
      </button>
    </div>
  </div>
</div>
