
 <nav class="navbar navbar-expand-lg navbar-dark text-light  nav_style">
  <div class="container-fluid">
      <a class="navbar-brand " style="padding-left: 70px; padding-right: 40px;" href="#!">Pandit-Foods</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse " id="navbarResponsive">
          <ul class="navbar-nav ">
              <li class="nav-item active">
                
                
              </li>
             
              <li class="nav-item">
                  <form class="d-flex ">
                      <input #myInput class="form-control me-2"  type="search" placeholder="Search" aria-label="Search"  (keyup.enter)="doSearch(myInput.value)">
                      <button class="btn btn-danger btn-sm" (click)="doSearch(myInput.value)"  >Search</button>
                     
                      
                    </form>
              </li>
              <li><i class="fa fa-shopping-cart" style="font-size:24px; margin-left: 500px; margin-right: 70px;padding-top: 3px ;"aria-hidden="true"></i></li>
              
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li class="nav-item" >
                   <span>{{CustomerName}}</span>
                  <a class="btn btn-primary" routerLink="login" routerLinkActive="active">{{buttonname}}</a>
              </li>
            </ul>
         
         
      </div>
  </div>
</nav>



<!-- Side Bar -->
<div class="container-fluid">

  <div class="row">

    <div class="col-lg-3">
      <div class="list-group" class="side_style">
        <div class="list-group-item text-danger" routerLink="products" [queryParams]="{ resturant: 'AdiGas'}" >AdiGas</div>
        <div class="list-group-item text-danger" routerLink="products" [queryParams]="{ resturant: 'RotiGhar'}" >RotiGhar</div>
        <div class="list-group-item text-danger" routerLink="products" [queryParams]="{ resturant: 'PunjabiRasoi'}" >PunjabiRasoi</div>
        <div class="list-group-item text-danger" routerLink="products" [queryParams]="{ resturant: 'Udupi'}" >Udupi</div>
    </div> 
    </div>
  
    <div class="col-lg-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<footer class="py-4 text-light footer_style">
  <div class="container"><p class="m-0 text-center text-light">Copyright &copy; 2021</p></div>
</footer>

